<p>Name: <%= @student.name %></p>
<%= @student.addresses.each do |address| %>
<p>Description: <%= address.description %></p>
<p>Street: <%= address.street %></p>
<p>City: <%= address.city %></p>
<p>State: <%= address.state %></p>
<p>Zip: <%= address.zip_code %></p>
<% end %>
<%= @student.courses.each do |course| %>
<%= course.title %>
<% end %>
